services:
  server:
    build:
      context: .
      dockerfile: Dockerfile.server
    ports:
      - "3000:3000"

  client:
    build:
      context: .
      dockerfile: Dockerfile.client
    ports:
      - "9000:9000"
    depends_on:
      - server
